product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/Messages/Messages.apk
vendor/media/license.lic
system/system/system_ext/apex/com.android.vndk.v30.apex
